/* Main styles */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: mintcream;
}

h1,
ul,
li {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 900px;
  height: 800px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
}

.input {
  display: block;
  margin-left: 250px;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 10px;
  width: 200px;
  height: 30px;

  color: rgb(75, 75, 75);
  font-weight: 700;

  border: 1px solid grey;
  border-radius: 5px;
}

.input:hover,
.input:focus {
  outline: none;
  border-width: 2px;
}

.list {
  list-style: none;
}

.country-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 150px;
  margin-right: auto; */

  font-size: 20px;
}

/* Countries list */

.list-countries {
  padding-left: 30px;
  margin-left: 240px;
  margin-right: auto;
}

.list-countries-item:not(:last-child) {
  margin-bottom: 10px;
}

/* Country info */

.country {
  width: 100%;
}

.country-title {
  margin-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.country-list-info {
  margin-right: 30px;
}

.country-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.country-text {
  font-weight: 700;
}

.country-sublist {
  padding-left: 35px;
  list-style-type: disc;
}

.sublist-item {
  margin-top: 10px;
}

.sublist-item:not(:first-child) {
  margin-top: 5px;
}

/* PNotify styles */
[data-pnotify] .pnotify-pre-line {
  font-weight: 600;
  color: rgb(0, 0, 0);
}
